{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-m-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Homemade pralines for every occasion
                </h1>
                <p class="text-lg-left">
                    we at prallinörskan offer made to order freshly baked pralines
                  </p>
                <div class="my-5">
                    <h4>
                        <a href="#" class="shop-now-button btn btn-lg rounded-0 py-3">Find your favorite!</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}