{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="overlay-under"></div>
    <div id="extra-padding" class="container">
        <div class="row h-100">
            <div class="col-7 col-m-6 my-auto">
                <h1 class="display-4 welcome-text">
                    Homemade pralines for every occasion
                </h1>
                <p class="text-lg-left welcome-text-under">
                    We at Pralinörskan offer freshly made pralines made upon order
                  </p>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="btn btn-secondary btn-lg rounded-2 py-2" role="button">Find your favorite!</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}