{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="overlay"></div>
<div class="overlay-under"></div>
    <div id="extra-padding" class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="content-header">Order History</h2>
                <hr>
            </div>
        </div>
        <div class="card bg-light custom-card">
            <div class="card-header">
                <p class="text-muted">Your order History</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="order-history table-responsive">
                            <table class="table table-sm table-borderless">
                                <thead>
                                    <tr>
                                        <th>Order Number</th>
                                        <th>Date</th>
                                        <th>Items</th>
                                        <th>Order Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            <td>
                                                <a class="text-info" href="{% url 'order_history' order.order_number %}"
                                                title="{{ order.order_number }}">
                                                    {{ order.order_number|truncatechars:6 }}
                                                </a>
                                            </td>
                                            <td>{{ order.date }}</td>
                                            <td>
                                                <ul class="list-unstyled">
                                                    {% for item in order.lineitems.all %}
                                                        <li class="small">
                                                        {{ item.product.name }} x{{ item.quantity }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td>{{ order.grand_total }}Sek</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}