{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="overlay"></div>
<div class="overlay-under"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="content-header mb-4">Thank you for your purchase!</h2>
                <hr>
            </div>
        </div>
        <div class="card custom-card bg-light">
            <div class="card-header">
                <p class="text-black">A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
            <div class="card-body">
                <div class="order-confirmation-wrapper p-2 border">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 ">
                            <p class="mb-0 text-black font-weight-bold">Order Number</p>
                        </div>
                        <div class="col-6  text-right">
                            <p class="mb-0">{{ order.order_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <p class="mb-0 text-black font-weight-bold">Order Date</p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Details:</small>
                        </div>
                    </div>

                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-6">
                            <p class="small mb-0 text-black font-weight-bold">
                                {{ item.product.name }}
                            </p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="small mb-0">{{ item.quantity }} x {{ item.product.price }}Sek each</p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Delivering To:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <p class="mb-0 text-black font-weight-bold">Full Name</p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <p class="mb-0 text-black font-weight-bold">Address 1</p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-6">
                            <p class="mb-0 text-black font-weight-bold">Address 2</p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if order.county %}
                    <div class="row">
                        <div class="col-6">
                            <p class="mb-0 text-black font-weight-bold">County</p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-6">
                            <p class="mb-0 text-black font-weight-bold">Town or City</p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-6">
                            <p class="mb-0 text-black font-weight-bold">Postal Code</p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-6">
                            <p class="mb-0 text-black font-weight-bold">Country</p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 ">
                            <p class="mb-0 text-black font-weight-bold">Phone Number</p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Billing Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <p class="mb-0 text-black font-weight-bold">Order Total</p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="mb-0">{{ order.order_total }} Sek</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <p class="mb-0 text-black font-weight-bold">Delivery</p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="mb-0">{{ order.delivery_cost }} Sek</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 ">
                            <p class="mb-0 text-black font-weight-bold">Grand Total</p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="mb-0">{{ order.grand_total }} Sek</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row card-footer-left">
                    <div class="col ">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'orders' %}" class="btn btn-secondary">
                                <span class="icon">
                                    <i class="fas fa-angle-left"></i>
                                </span>
                                <span class="text-uppercase">Back to Orders</span>
                            </a>
                        {% else %}
                            <a href="{% url 'products' %}" class="btn btn-secondary">
                                <span class="icon">
                                    <i class="fas fa-angle-left"></i>
                                </span>
                                <span class="text-uppercase">Back to home page</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}