/*-----------------------<-Background->-----------------------*/

html {
    height: 100%;
}

body {
  background:  url('/media/homepage_background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: calc(90vh - 164px);
  color: rgb(0, 0, 0);
  font-family: 'Roboto Condensed', sans-serif;
}

.overlay {
  height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgb(255,255,255);
  background: linear-gradient(180deg, rgb(255 255 255 / 98%) 20%, rgb(255 255 255 / 4%) 100%);
  z-index: -1;
}

.overlay-under {
  height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgb(255,255,255);
  background: linear-gradient(0deg, rgb(255 255 255 / 72%) 5%, rgb(255 255 255 / 14%) 60%);
  z-index: -1;
}

tr {
  border-bottom: #00000026 solid 1px
}

.container-fluid {
  padding-top: 120px;
}

/*---------------------------<-Header->------------------------------*/

header {
  padding-top: 0 !important;
}

.navbar-logo {
  font-family: 'Satisfy', cursive;
  font-size: 2.4rem;
  color: #19896F !important;
}
  
.navbar-nav{
  padding: 0 18px 0 18px;
  line-height: 20px;
  font-size: 20px;
}

.text-info {
  color: #19896F !important;
}

.nav-link {
  color: #19896F;
}

.nav-link:hover {
  color: #075342;
}

#nav-link {
  padding: 0.15rem;
}

.extra-nav-link {
  padding: 0.15rem;
}

#list-inline-item {
  padding: 0.15rem;
}

.main-nav-link {
  float:right !important;
}

.product-links{
  padding-right: 0px !important;
}
  
.dropdown-menu {
  margin-top: 19px;
  border: 0;
  border-radius: 0 0 5px 5px;
  min-width: 5rem !important;
  margin: 0;
}
  
.dropdown-item:hover {
  color: #075342;
}
  
.navbar-toggler {
  background-color: #00000054;
  float:right !important;
}

.navbar-toggler:hover {
  color: #075342;
}

.mobile-navbar {
  display: inline;
}

.dropdown-item {
  padding: .3rem .9rem !important;
  color: #19896F;
}

/* --------------- Media Queries --------------- */

@media (max-width: 990px) {
    .navbar, .navbar-nav, .nav-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: flex-end;
      border-left: none;
    }
    .dropdown-item:hover {
      color: #075342;
    }
  }

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }

    .cart-template {
      max-width: 90% !important;
    }
  }

/* fixed top navbar only on medium and up */
@media (min-width: 510px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  .header-container {
    padding-top: 164px;
  }
}

/* mobile view */
@media (max-width: 991px) {
  .header-container {
    padding-top: 116px;
  }

  body {
    height: calc(100vh - 116px);
  }

  .navbar-toggler {
    padding: .6rem .6rem;
    font-size: 1rem;
  }

  .index-container {
    padding-top: 40px;
  }
}

/* xs mobile view */
@media (max-width: 280px) {
  .btn {
    padding: 0.37rem 0.45rem;
  }
}


/*---------------------------<-Section->------------------------------*/

#extra-padding {
  padding-bottom: 150px;
}

.content-header {
    font-family: 'Roboto Condensed', sans-serif;
    color: #19896F;
    text-transform: uppercase;
}

.content-header-category {
  font-family: 'Roboto Condensed', sans-serif;
  color: #19896F;
  text-transform: uppercase;
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.main-logo-link {
  width: fit-content;
}

.btn-secondary {
  background: #818181;
  color: #EDEDED;
  border-color: #818181;
}

.btn-secondary:hover {
  background: #19896F;
  color: white;
  border-color: #19896F;
}

.btn-success {
  background: #19896F;
  color: #EDEDED;
  border-color: #19896F;
}

.btn-success:hover {
  background: #075342;
  color: #EDEDED;
  border-color: #075342;
}

.text-black {
    color: #000 !important;
}

/* --------------- pagination --------------- */

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #19896F;
  border-color: #19896F;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #000000;
  background-color: rgba(237, 237, 237, 0.767);
  border: 1px solid rgba(237, 237, 237, 0.767);
}

.page-link:hover {
  color: #075342;
}

#ul-pagination {
  margin-bottom: 10rem;
}

/* --------------- Return To Top Btn --------------- */

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(75 179 140);
  background: rgb(0 0 0 / 29%);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: #19896F;
}

#return-to-top:hover i {
  color: #fff;
}

/*---------------------------<-Products->------------------------------*/

@media (min-width: 1800px) {
  /* smaller img in xxl desktop view */
    .img-fluid {
      max-width: 80%;
      height: auto;
    }
  
  /* Padding in xxl desktop view */
    .product-detail-container {
      padding-bottom: 150px;
      padding-top: 100px;
    }
  }

  
/*---------------------------<-Home Index->------------------------------*/

.welcome-text {
  font-family: 'Roboto Condensed', sans-serif;
  color: #19896F;
}

.welcome-text-under {
  font-family: 'Roboto Condensed', sans-serif;
  color: #19896F;
}

.bestseller-bar {
  background-color: #f8f9fad2;
}

/* Desktop view xxl */
@media (max-width: 2100px) {
  .bestseller-container {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 100px;
  }
}

/* -------- Media Queries for home index -------- */

/* Desktop, tablet and mobile view */
@media (max-width: 417px) {
  .bestseller-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .index-container {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

/* Pagination in xxl desktop view */
@media (min-width: 998px) {
  .index-container {
    padding-bottom: 10px;
  }
}

/* Bigger text in xxl desktop view */
@media (min-width: 1800px) {
  .display-4, .welcome-text {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .welcome-text-under {
    font-size: 1.5rem;
  }

  .index-container {
    padding-bottom: 150px;
    padding-top: 75px;
  }
}

/*-----------------------------<-Cart->--------------------------------*/

/* --------------- Item Card --------------- */

.cart-img {
  max-width: 60%;
  height: auto;
}

.w-20 {
  width: 20%!important;
}

.card, .card-img-body, .card-body,
.card-footer {
    background-color: rgba(236 236 236 / 19%);
}

.text-muted {
    color: #4f4f4f !important;
}

#card-body {
  padding: 6px !important;
}

.update-link {
  cursor: pointer;
}

/* ---------- Order summary Card ---------- */

.order-summary-card-inner {
  background-color: #e2e2e2c4;
  height: 320px;
  padding: 10px;
}

.grand-total {
  background-color: #81818199;
  padding: 10px 7px;
}


.checkout-btn {
  background-color: #19896F;
  color: #EDEDED;
  width: 100%;
  padding: 20px 20px;
  text-align: center;
  margin-top: 0;
}

.checkout-btn:hover {
  background-color:  #075342;
  color: #EDEDED;
}

/* --------- Media Queries for cart --------- */

/* Smaller card in tablet*/
@media (max-width: 991px) {
  .order-summary-card {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 600px){
  .order-summary-card {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Smaller img in tablet*/
@media (max-width: 774px){
  .cart-img {
    max-width: 38%;
  }
}


/* --------- Custom Input Group for Cart and products --------- */

#input-group-cart {
  position: relative;
  display: inline-flex;
  border: 2px solid #eee;
  align-items: center;
  padding: 2px 2px;
  background: #eee;
  border-radius: 10px;
  max-width: 100%;
  min-width: 78px;
  width: 100px;
  height: 35px;
  overflow: hidden;
  flex-wrap: inherit;
}

#input-group-cart input {
  display: inline-block;
  font-weight: 700;
  border: none;
  min-width: 0;
  flex-grow: 1;
  background: #eee;
}

.input-group-prepend-cart button{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 20px;
  flex-shrink: 0;
  min-width: 0;
  padding: 0;
}

.input-group-append-cart button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 20px;
  flex-shrink: 0;
  min-width: 0;
  padding: 0;
}

#input-group-product input {
  font-weight: 700;
  text-align: center;
}

/* ------------ Toasts ------------ */

.message-container {
  position: fixed;
  top: 50px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: hidden;
  border-radius: 7px;
}

.toast-capper {
  height: 2px;
}

/* Convenience classes - colors copied from Bootstrap */
.toast-primary {
  border-bottom-color: #007bff !important;
}

.toast-secondary {
  border-bottom-color: #6c757d !important;
}

.toast-success {
  border-bottom-color: #28a745 !important;
}

.toast-danger {
  border-bottom-color: #dc3545 !important;
}

.toast-warning {
  border-bottom-color: #ffc107 !important;
}

.toast-info {
  border-bottom-color: #17a2b8 !important;
}

.toast-light {
  border-bottom-color: #f8f9fa !important;
}

.toast-dark {
  border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}


/*---------------------------<-Allauth->------------------------------*/

.account-header-container {
  padding-bottom: 140px;
  padding-top: 140px;
}

.extra-padding-container {
  padding-bottom: 155px;
}

.card-account {
  background-color: #f8f9fa;
}

.card-header {
  color: #19896F;
}

.allauth-form-inner-content p {
  color: #6c757d;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #94949493;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #19896F;
  border: 1px solid #19896F;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
  background-color: #075342;
  color: #EDEDED;
  border-color: #075342;
}

/* --------- Media Queries for Allauth --------- */

/* Slightly smaler container on xl, lg and md screens  */
@media (min-width: 770px) {
  .account-header-container {
    width: 28rem;
  }
}


/*---------------------------<-Checkout->------------------------------*/

.card-product-detail-checkout {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  margin-right: 0px;
  margin-left: 0px;
}

.card-footer {
  margin-right: 0px;
  margin-left: 0px;
}

.card-footer-left {
  text-align: left;
}

.card-footer-right {
  text-align: right;
}

.content-box {
  border-radius: 8px;
  border: 1px solid #dadada;
  background: #fff;
  box-shadow: none;
  padding: 0;
}


/*---------------------------<-Profiles->------------------------------*/

.custom-card {
  margin-right: 0px;
  margin-left: 0px;
}

/* --------- Media Queries for Profiles --------- */

/* Slightly smaler container on xl, lg and md screens  */
@media (min-width: 770px) {
  .custom-card {
    width: 40rem;
    margin: auto;
  }
}


/*---------------------------<-Stripe->------------------------------*/

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
  color: #aab7c4;
}

.fieldset-label {
  position: relative;
  right: .5rem;
}

#payment-form .form-control,
#card-element {
  color: #000;
  border: 1px solid #949494;
  border-radius: 5px;
}

select,
select option {
  color: #000000;
}

select:invalid,
select option[value=""] {
  color: #aab7c4 !important;
}

#loading-overlay {
	display: none;
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #19896f82;
  z-index: 9999;
}

.loading-spinner {
	display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}

.loading-btn {
  background-color: #4f4f4f !important;
  color: whitesmoke;
}

.btn.disabled, .btn:disabled {
  opacity: 1 !important;
}


/*---------------------------<-Footer->------------------------------*/
footer {
  margin-top: 190px;
}

.footer-container {
  background: rgba(237, 237, 237, 0.767);
  color: #000;
  font-family: 'Roboto Condensed', sans-serif;
}

.social-links {
  color: #000;
}

.social-links:hover {
  color: #19896F;
}