{% load static %}

<!doctype html>
<html lang="en">
  <head>
    
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

        <!-- Google foonts -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Satisfy&display=swap" rel="stylesheet">

        <!-- Css -->
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <title>Pralinörskan app{% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    
      <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
          <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 text-center text-lg-left">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <h2 class="navbar-logo my-0"><strong>Pralinörskan</strong></h2>
            </a>
          </div>            
          <div class="col-12 col-lg-6 my-auto py-1 py-lg-0">
            <ul class="list-inline list-unstyled text-center my-0">
              <li class="list-inline-item">
                <a class="nav-link" href="{% url 'home' %}" id="home-link">
                    Home
                </a>
              </li>
              <li class="list-inline-item">
                <a class="nav-link" href="{% url 'products' %}" id="all-products-link"  aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
              </li>
              <li class="list-inline-item">
                <a class="nav-link" href="{% url 'products' %}?category=vegan" id="vegan-products-link"  aria-haspopup="true" aria-expanded="false">
                    Vegan
                </a>
              </li>
              <li class="list-inline-item">
                <a class="nav-link" href="{% url 'products' %}?category=gluten_free" id="glutenFree-products-link"  aria-haspopup="true" aria-expanded="false">
                    Gluten Free
                </a>
              </li>
              <li class="list-inline-item">
                <a class="nav-link" href="{% url 'products' %}?category=special_offer" id="specialsOffers-products-link"  aria-haspopup="true" aria-expanded="false">
                    Special Offers
                </a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-lg-3 my-auto py-1 py-lg-0" style="text-align: right;">
              {% if request.user.is_authenticated %}
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                  <li class="list-inline-item">
                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <div class="text-center">
                        <div><i class="fas fa-user fa-lg"></i></div>
                          <p class="my-0">My Account</p>
                      </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                      {% if request.user.is_authenticated %}
                        <a href="{% url 'profile' %}" class="dropdown-item">Profile details</a>
                        <a href="#" class="dropdown-item">Order History</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                      {% endif %}
                    </div>
                  </li>
                  <li class="list-inline-item">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_cart' %}">
                      <div class="text-center">
                        <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                        <p class="my-0">
                          {% if grand_total %}
                            {{ grand_total|floatformat:2 }}Kr
                          {% else %}
                            0.00 Kr
                          {% endif %}
                        </p>
                      </div>
                    </a>
                  </li>
                </ul>
              {% else %}
                <li class="list-inline-item">
                  <a class="font-weight-bold nav-link" href="{% url 'account_login' %}" id="login-link" aria-haspopup="true" aria-expanded="false">
                    Login
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="font-weight-bold nav-link" href="{% url 'account_signup' %}" id="register-link" aria-haspopup="true" aria-expanded="false">
                    Register
                  </a>
                </li>
              {% endif %}
          </div>
        </div>
        <!-- Mobile Navbar and Button -->
        <div class="row bg-white d-block d-lg-none">
          <nav class="navbar navbar-expand-lg navbar-light w-100">
            {% include 'mobile-navbar.html' %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>   
          </nav>
          <div class="collapse" id="main-nav">
            <div class="bg-white">
              <span>
                {% include 'main-nav.html' %}
              </span>
            </div>
          </div>
        </div>

    </header>

    <!-- Django toast message -->
    <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/messages/ -->

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'toasts/toast_success.html' %}
                    {% else %}
                        {% include 'toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}


    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <!-- Fotter Template -->
    {% include 'footer.html' %}
    

    {% block corejs %}
        <!-- Fontawesome -->
        <script src="https://kit.fontawesome.com/4fdc8c1c9c.js"></script>

        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

        <!-- Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block postloadjs %}
      <script src="/static/js/main.js"></script>
      <script src="/static/js/quantity-input-script.js"></script>
    {% endblock %}
    
    {% block extra_js %}
    {% endblock %}
        
  </body>
</html>