<ul class="navbar-nav w-auto mx-auto">
    <li class="list-inline-item">
        <a id="main-nav-link" class="nav-link" href="{% url 'home' %}" id="home-link">
            Home
        </a>
    </li>
    <li class="list-inline-item">
        <a id="main-nav-link" class="nav-link" href="{% url 'products' %}" id="all-products-link"  aria-haspopup="true" aria-expanded="false">
            Products
        </a>
    </li>
    <li class="list-inline-item">
        <a id="main-nav-link" class="nav-link" href="{% url 'products' %}?category=vegan" id="vegan-products-link"  aria-haspopup="true" aria-expanded="false">
            Vegan
        </a>
    </li>
    <li class="list-inline-item">
        <a id="main-nav-link" class="nav-link" href="{% url 'products' %}?category=gluten_free" id="glutenFree-products-link"  aria-haspopup="true" aria-expanded="false">
            Gluten Free
        </a>
    </li>
    <li class="list-inline-item">
        <a id="main-nav-link" class="nav-link" href="{% url 'products' %}?category=special_offer" id="specialsOffers-products-link"  aria-haspopup="true" aria-expanded="false">
            Special Offers
        </a>
    </li>
</ul>