
    {% if request.user.is_authenticated %}
    <li id="list-inline-item" class="list-inline-item dropdown">
       <a class="text-black nav-link extra-nav-link d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
               <div><i class="fas fa-user fa-md"></i></div>
                <p class="my-0">My Account</p>
           </div>
        </a>
       <div class="dropdown-menu border-0" aria-labelledby="user-options">
                <a href="{% url 'profile' %}" class="dropdown-item">Profile details</a>
                <a href="{% url 'orders' %}" class="dropdown-item">Order History</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        </div>
    </li>
    <li id="list-inline-item" class="list-inline-item">
       <a id="nav-link" class="{% if grand_total %} font-weight-bold {% else %} text-black {% endif %} text-black nav-link " href="{% url 'view_cart' %}">
            <div class="text-center">
               <div><i class="fas fa-shopping-cart fa-md"></i></div>
                <p class="my-0">
                    {% if grand_total %}
                    <span class="text-info"> {{ grand_total|floatformat:2 }}Sek</span>
                    {% else %}
                        0.00 Sek
                    {% endif %}
                </p>
            </div>
        </a>
    </li>
    {% else %}
    <li class="list-inline-item">
        <a class="font-weight-bold text-info" href="{% url 'account_login' %}" id="login-link" aria-haspopup="true" aria-expanded="false">
        Login
        </a>
    </li>
    <li class="list-inline-item">
        <a class="font-weight-bold text-info" href="{% url 'account_signup' %}" id="register-link" aria-haspopup="true" aria-expanded="false">
        Register
        </a>
    </li>

    <li id="list-inline-item" class="list-inline-item text-lg-left">
        <a id="nav-link" class="{% if grand_total %} font-weight-bold {% else %} text-black {% endif %} text-black nav-link" href="{% url 'view_cart' %}">
            <div class="text-center">
                <div><i class="fas fa-shopping-cart fa-md"></i></div>
                <p class="my-0">
                    {% if grand_total %}
                    <p class="text-info"> {{ grand_total|floatformat:2 }}Sek</p>
                    {% else %}
                        0.00 Sek
                    {% endif %}
                </p>
            </div>
        </a>
    </li>
{% endif %}