


<div class="col-12 col-lg-2 my-auto py-1 py-lg-0 text-center text-lg-left">
    <a href="{% url 'home' %}" class="nav-link main-logo-link">
        <h2 class="logo-font navbar-text my-0"><strong>Pralinörskan</strong></h2>
    </a>
</div>
<div class="collapse navbar-collapse text-lg-left" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vegan
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gluten free
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Register
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Logout
            </a>
        </li>

    </ul>
</div>

<!--<header class="container-fluid fixed-top">
    <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-2 my-auto py-1 py-lg-0 text-center text-lg-left">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <h2 class="navbar-logo navbar-text my-0"><strong>Pralinörskan</strong></h2>
            </a>
        </div>
        <div class="col-12 col-lg-7 my-auto py-1 py-lg-0">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item dropdown">
                    <a class="navbar-text nav-link" href="#" id="user-options" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <p class="my-0">Home</p>
                        </div>
                    </a>
                </li>
                <li class="list-inline-item dropdown">
                    <a class="navbar-text nav-link" href="#" id="user-options" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <p class="my-0">Products</p>
                        </div>
                    </a>
                </li>
                <li class="list-inline-item dropdown">
                    <a class="navbar-text nav-link" href="#" id="user-options" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <p class="my-0">Vegan</p>
                        </div>
                    </a>
                </li>
                <li class="list-inline-item dropdown">
                    <a class="navbar-text nav-link" href="#" id="user-options" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <p class="my-0">Gluten free</p>
                        </div>
                    </a>
                </li>
                <li class="list-inline-item dropdown">
                    <a class="navbar-text nav-link" href="#" id="user-options" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <p class="my-0">Special offers</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-3 my-auto py-1 py-lg-0">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item dropdown">
                    <a class="navbar-text nav-link" href="#" id="user-options" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <p class="my-0"><strong>Register</strong></p>
                        </div>
                    </a>
                </li>
                <li class="list-inline-item dropdown">
                    <a class="navbar-text nav-link" href="#" id="user-options" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <p class="my-0"><strong>Login</strong></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</header>-->